<div class="container" fxLayout="column" fxLayoutGap="10px">
    <div class="title editable" fxLayout fxLayoutAlign=" center">
        <mat-icon>bookmark_outline</mat-icon>
        <textarea #name fxFlex data-autosize="true" spellcheck="false" rows="1"
            (click)="edit($event)" 
            [(ngModel)]="memo.name" 
            [ngModelOptions]="{updateOn: 'blur'}"
            (blur)="memo.name.length > 0 ? exitEdit(): name.focus()"
            (keydown.enter)="enter($event)">
        </textarea>
    </div>
    <div class="description section" fxLayout="column" fxLayoutGap="10px">
        <div fxLayout fxLayoutAlign=" center">
            <mat-icon>description_outline</mat-icon>
            <h3>Description</h3>
        </div>
        <div class="text editable" (click)="edit($event); desc.focus()">
            <div class="hide-on-edit" *ngIf="memo.description" markdown ngPreserveWhitespaces>
                {{ memo.description }}
            </div>
            <textarea #desc 
                data-autosize="true" 
                spellcheck="false"
                [ngModel]="memo.description"
                [(ngModel)]="memo.description" 
                [ngModelOptions]="{updateOn: 'blur'}"
                (blur)="memo.description.length > 0 ? exitEdit(): desc.focus()">
            </textarea>
            <textarea class="no-text" 
                spellcheck="false"
                [style.display]="memo.description.length === 0 ? 'block' : 'none'"
                placeholder="Write your description"
                [ngModel]="memo.description"
                [(ngModel)]="memo.description" 
                [ngModelOptions]="{updateOn: 'blur'}"
                (blur)="memo.description.length > 0 ? exitEdit(): desc.focus()">
            </textarea>
        </div>
    </div>
    <div class="footer section" fxLayout>
        <button mat-raised-button color="primary" (click)="updateMemo()">Save</button>
    </div>
</div>