<div class="progress-bar">
    <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-100">
        <div class="bg-blue-600 h-2.5 rounded-full"
        [style.width.%]="value "></div>
    </div>
    <div fxLayout style="font-weight: 500;">
        <span style="color: darkgray;">Progress</span>
        <span style="margin-left: auto">{{ (value === 100) ? 'Done' : value +'%' }}</span>
    </div>
    <!-- <div class="flex justify-between mb-1">
        <span class="text-base font-small text-blue-200 dark:text-black">Progress</span>
        <span class="text-sm font-medium text-blue-700 dark:text-black">45%</span>
    </div> -->
</div>
