:root {
    --nav-width: 45px;
}

.layout-container {
    height: 100%;
    width: 100%;
}

.logo {
    padding: 0 12px;
}

.logo img {
    height: 45px;
    width: var(--nav-width);
}

.navigation {
    border-right: 1px solid whitesmoke;
    background: white;
    width: 70px;
    height: 100%;
    transition: 0.5s;
    overflow: hidden;
    padding: 20px 0;
    position: absolute;
}

.navigation:hover {
   width: 200px;
}

.navigation:hover .module a {
   width: 100%;
}

.module-list {
    width: 100%;
    transition: 0.5;
}

.module {
    position: relative;
    width: 100%;
    padding: 0 12px;
    transition: 0.5s;
}

.module eunes-icon-button {
    width: 100%;
}

.module a {
    height: 40px;
    width: var(--nav-width);
    position: relative;
    border-radius: 10px;
    color: grey;
    padding: 0 10px;
    line-height: 1;
    transition: width 0.5s;
    overflow: hidden;
}

.module a.active {
    background: dodgerblue;
    color: white;
}

.module a:hover {
    background: dodgerblue;
    color: white;
    cursor: pointer;
    transform: translateX(5px);
    transition: transform 0.2s;
}

.module a mat-icon {
    position: relative;
    display: block;
}

.module a span {
    margin-top: 5px;
    opacity: 0;
    visibility: hidden;
    white-space: nowrap;
    transition: opacity 0.5s;
    transition: visiblity 0.5s;
}

.module a span.open {
    opacity: 1;
    visibility: visible;
}

.bottom {
    margin-top: auto;
}

eunes-chat {
    position: absolute;
    bottom: 30px;
    right: 30px;
}