<div class="layout-container">
    <div class="navigation" fxLayout="column" fxLayoutGap="15px"
    (mouseenter)="toggleButtonText(true)"
    (mouseleave)="toggleButtonText(false)">
        <!-- <eunes-button
        class="menu-button"
        [icon]="'menu'">
        </eunes-button> -->
        <div class="logo" fxLayout fxLayoutAlign=" center">
            <img src="../../assets/public/images/logo/transparent.png" alt="logo">
        </div>

        <mat-divider></mat-divider>

        <div class="middle-menu" fxFlex>
            <mat-nav-list class="module-list"
            fxLayout="column" fxLayoutAlign="center center"
            fxLayoutGap="10px">
                <div class="module" *ngFor="let module of MODULES"
                fxLayout>
                    <a fxLayout fxLayoutAlign="start center" fxLayoutGap="10px"
                    [routerLink]="module.path"
                    routerLinkActive="active"
                    [ngClass]="{'bottom': module.type === 'utility'}">
                        <mat-icon>{{ module.icon }}</mat-icon>
                        <span class="text" fxFlex>{{ module.name }}</span>
                    </a>
                </div>
            </mat-nav-list>
        </div>

        <div class="bottom-menu">
            <mat-nav-list class="module-list"
            fxLayout="column" fxLayoutAlign=" center"
            fxLayoutGap="10px">
                <div class="module" *ngFor="let utility of UTILITIES"
                fxLayout>
                    <a fxLayout fxLayoutAlign="start center" fxLayoutGap="10px"
                    [routerLink]="utility.path"
                    routerLinkActive="active">
                        <mat-icon>{{ utility.icon }}</mat-icon>
                        <span class="text">{{ utility.name }}</span>
                    </a>
                </div>
            </mat-nav-list>
        </div>
    </div>
    
    <eunes-chat></eunes-chat>
</div>