button {
    height: 40px;
    /* width: 50px; */
    width: 100%;
    position: relative;
    border-radius: 10px;
    transition-duration:0.2s;
    background-color: whitesmoke;
    border-color: transparent;
    color: grey;
    padding: 0 10px;
    line-height: 1;
    transition: 0.5;
}

button:hover {
    background: dodgerblue;
    color: white;
    cursor: pointer;
}

button .text {
    transition-duration: 3s;
    margin-top: 5px;
}

/* button mat-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    display: block;
} */